body {
    height: 100%;
}

.zoomIn {
    margin: 10px;
    transition: transform .2s; /* Animation */
}

.bg-secondary {
    background-color: #ab0044 !important;
}

.btn-secondary {
    background-color: #ab0044;
}

.thead {
    background-color: #ab0044;
    color: white;
}

.customShadow {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
}

.zoomIn:hover {
    transform: scale(1.3);
    cursor: default;
    z-index: 2;
}

table {
    border-width: 3px !important;
    border-color: #ab0044 !important;
}
